.modal {
  position: fixed;
  width: 35%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  color: white;
  z-index: 9999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: left;
  border-radius: 10px;
  padding: 1.5rem;
  padding-right: 2.5rem;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.newPostModal {
  display: flex;
  gap: 0.5rem;
  border: none;
}

.newPostModal form {
  width: 100%;
}

.tweetInput {
  width: 100%;
  min-height: 100px;
  background: #262626;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 8px;
}

.tweetInput.empty::before {
  content: attr(placeholder);
  color: #999;
}

.modalMediaContainer img, .modalMediaContainer video {
  width: 100%;
  border-radius: 10px;
}

.modalMediaContainer{
  position: relative;
}

.modalMediaContainer .closeMediaInModal, .closePostModal{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: rgb(60, 60, 60);
  color: white;
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 0.3rem;
  font-size: 1.5rem;
  opacity: 0.9;
}