.commentsSection {
  display: flex;
  flex-direction: column;
}
.addCommentSection {
  display: flex;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid var(--border-color);
}
.commentInput {
  margin-left: 2%;
  border: none;
  display: flex;
  flex-grow: 1;
  height: 50px;
  resize: none;
  background: var(--background-color);
  color: var(--text-color);
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}
.commentInput:focus{
  outline: none;
}
.commentBtnEnabled,
.commentBtnDisabled {
  margin-left: 2%;
  border: none;
  background: #0060a1;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  height: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 20px;
}
.commentBtnEnabled {
  background: var(--primary-color);
}
.commentsContainer {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
