.homePageContainer {
  display: flex;
  justify-content: center;
  padding: 0rem 8rem;
}
.homeSection {
  padding-top: 1rem;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  min-height: 100vh;
}
.homeSection h2{
  padding: 0rem 1rem 1rem 1rem;
}
.newPost{
  display: grid;
  grid-template-columns: 2.5rem auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 1rem
}
.newPost form{
  display: flex;
  flex-direction: column;
}
.createTweetActions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addToTweet{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.createTweetActions button{
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 20px;
}
.userAvatar p{
  border: 1px solid black;
  border-radius: 30px;
  padding: 0.4rem;
  width: 2.2rem;
}
.tweet-input {
  width: 40rem;
  min-height: 60px;
  height: 100%;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  margin-bottom: 8px;
}
.tweet-input.empty::before {
  content: attr(placeholder);
  color: #999;
}
