.singleComment {
  display: flex;
  gap: 0.5rem;
}
.commentInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 0.5rem;
}
.userInfoOfComment {
  display: flex;
  gap: 0.5rem;
}
.commentContent{
  max-width: 25rem;
  overflow-wrap: break-word;
}