.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 10vh;
  background: var(--background-color);
  margin: 0 auto;
  position: sticky;
  padding: 0.5rem;
  top: 0;
  z-index: 9;
}
.appName {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.appName img{
  width: 50px;
}
.appName h3 {
  font-size: 24px;
}
.searchContainer {
  position: relative;
}
.searchContainer .searchIcon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.searchContainer input {
  padding: 0.75rem 2rem 0.75rem 2rem;
  border-radius: 20px;
  background: #ccc;
  border: none;
  font-size: 14px;
  width: 100%;
}
