.sidebarContainer {
  position: sticky;
  left: 0;
  top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  padding: 0.5rem 1rem;
}
.topSection{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.individualSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
}
.individualSection:hover, .loggedInUserProfile:hover{
  background: var(--hover-background);
}
.individualSection span {
  font-size: 1.3rem;
}
.newPostBtn {
  padding: 0.8rem 1rem;
  background: var(--primary-color);
  color: #fff;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.newPostBtn:hover{
  background: var(--button-hover);
  transition: all 0.5s ease;
}
.newPostBtn span {
  font-size: 1.3rem;
  font-weight: 500;
}
.loggedInUserProfile{
  display: flex;
  gap: 0.8rem;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  border-radius: 30px;
}
.loggedInUserProfile .fullName{
  font-weight: 600;
}
.loggedInUserProfile .username{
  opacity: 0.4;
}