.sidebarContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.individualSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  padding: 0.8rem 1rem;
  border-radius: 25px;
}
.individualSection:hover{
  background: var(--hover-background);
}
.individualSection span {
  font-size: 1.3rem;
  font-weight: 500;
}
.newPostBtn {
  padding: 1rem 3rem;
  background: rgb(29, 155, 240);
  color: #fff;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
