.filtersContainer {
  position: absolute;
  top: 30%;
  left: 60%;
  background: #fff;
  width: 7.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.07),
    0px 3.75998px 11.28px rgba(0, 0, 0, 0.0503198),
    0px 2.01027px 6.0308px rgba(0, 0, 0, 0.0417275),
    0px 1.12694px 3.38082px rgba(0, 0, 0, 0.035),
    0px 0.598509px 1.79553px rgba(0, 0, 0, 0.0282725),
    0px 0.249053px 0.747159px rgba(0, 0, 0, 0.0196802);
}
.singleFilter, .selectedFilter {
  text-transform: capitalize;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  color: #000;
  padding: 2%;
  margin-block-end: 0;
  border-radius: 0.2rem;
}

.selectedFilter{
  background: #4c81fe;
  color: white;
}