.post {
  position: relative;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid #ccc;
}
.postDetails{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.postHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.primaryDetails,
.userDetails {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.postContent{
  width: 40rem;
  text-overflow: clip;
}
.postImage{
  width: 40rem;
}
.postActions{
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.postActions .actionsContainer{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.postActionsMenu{
  position: absolute;
  top: 4%;
  right: 8%;
  background: #fff;
  width: 7.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.07),
    0px 3.75998px 11.28px rgba(0, 0, 0, 0.0503198),
    0px 2.01027px 6.0308px rgba(0, 0, 0, 0.0417275),
    0px 1.12694px 3.38082px rgba(0, 0, 0, 0.035),
    0px 0.598509px 1.79553px rgba(0, 0, 0, 0.0282725),
    0px 0.249053px 0.747159px rgba(0, 0, 0, 0.0196802);
}
.postActionsMenu p{
  cursor: pointer;
}
.profile{
  cursor: pointer;
}
.profilePicture{
  cursor: pointer;
}