.post {
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid #ccc;
}
.postDetails{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.postHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.primaryDetails,
.userDetails {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.postContent{
  width: 40rem;
  text-overflow: clip;
}
.postImage{
  width: 40rem;
}
.postActions{
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
.postActions .actionsContainer{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}