* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #000;
  --text-color: #fff;
  --primary-color: #1d9bf0;
  --button-hover: rgb(26, 140, 216);
  --hover-background: #292929;
  --border-color: #292929;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.homePage,
.profilePage,
.explorePage,
.bookmarksPage,
.postDetailsPage {
  display: flex;
  flex-direction: column;
}
.homePageContainer,
.profilePageContainer,
.explorePageContainer,
.bookmarksPageContainer,
.postDetailsPageContainer {
  display: grid;
  grid-template-columns: 16vw auto 20vw;
  column-gap: 2rem;
  margin: 0 auto;
  width: 80%;
}
.loginVideoContainer,
.signupVideoContainer {
  background-color: #000;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.loginVideoContainer video,
.signupVideoContainer video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.loginForm,
.signupForm {
  position: absolute;
  top: 10%;
  left: 50%;
  right: 0;
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25%;
}

.loginForm h2,
.signupForm h2 {
  text-align: center;
}

.loginForm form,
.signupForm form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.usernameInputDiv {
  display: flex;
  flex-direction: column;
}

.nameInput,
.emailInput,
.usernameInput,
.passwordInput {
  border: none;
  background: #f2f4f8;
  height: 2.5rem;
  width: 100%;
  outline: none;
  font-family: "Montserrat", sans-serif;
  padding: 0rem 0.5rem;
  font-size: 1rem;
}

.passwordInputDiv {
  position: relative;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: 2%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.loginForm button,
.signupForm button {
  cursor: pointer;
  padding: 0.75rem;
  border: none;
  border-radius: 20px;
}

.loginForm p,
.signupForm p {
  text-align: center;
}

.loginForm span,
.signupForm span {
  color: red;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}
.blueIcon {
  color: var(--primary-color);
}
.feedIcon:hover {
  color: var(--primary-color);
}
.profilePicture {
  border-radius: 50%;
  overflow: hidden;
  width: 2.7rem;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
}
