* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homePageContainer,
.profilePageContainer {
  display: grid;
  grid-template-columns: 15rem 1fr 20rem;
  padding: 0rem 8rem;
}

.loginPage,
.signupPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginForm,
.signupForm {
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25%;
}

.loginForm h2,
.signupForm h2 {
  text-align: center;
}

.loginForm form,
.signupForm form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.usernameInputDiv {
  display: flex;
  flex-direction: column;
}

.nameInput,
.emailInput,
.usernameInput,
.passwordInput {
  border: none;
  background: #f2f4f8;
  height: 2.5rem;
  width: 100%;
  outline: none;
  font-family: "Montserrat", sans-serif;
  padding: 0rem 0.5rem;
  font-size: 1rem;
}

.passwordInputDiv {
  position: relative;
}

.showPassword {
  cursor: pointer;
  position: absolute;
  top: 12%;
  right: 2%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.loginForm button,
.signupForm button {
  cursor: pointer;
  padding: 0.75rem;
  border: none;
  border-radius: 20px;
}

.loginForm p,
.signupForm p {
  text-align: center;
}

.loginForm span,
.signupForm span {
  color: red;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}
